@model List<CamperBot_FCC_Status_Viewer.Models.database_list>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int sno = 1;
}

<!-- Datatables required css -->
<link href="~/Plugins/datatables.net/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Plugins/datatables.net/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/Plugins/datatables.net/datatables.net-fixedheader-bs/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/Plugins/datatables.net/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Plugins/datatables.net/datatables.net-scroller-bs/scroller.bootstrap.min.css" rel="stylesheet">
<!-- /Datatables required css -->

<!-- List All User details -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>CamperBot Database</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>All User Details List<small>campers</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap bulk_action" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="check-all" class="flat"></th>
                                <th>S.No</th>
                                <th>User Name</th>
                                <th>Display Name</th>
                                <th>User ID</th>
                                <th>DOJ</th>
                                <th>URL</th>
                                <th>Excluder</th>
                                <th>Excluded Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" class="flat" name="table_records"></td>
                                    <td>@sno</td>
                                    <td>@item.uname</td>
                                    <td>@item.name</td>
                                    <td>@item.uid</td>                  
                                    <td>@item.doj</td>
                                    <td>@item.url</td>
                                    <td>@item.excluder</td>
                                    <td>@item.exc_date</td>
                                </tr>
                                sno++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /List All User details -->


<!-- Datatables js-->
<script src="~/Plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="~/Plugins/datatables.net/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="~/Plugins/jszip/dist/jszip.min.js"></script>
<script src="~/Plugins/pdfmake/build/pdfmake.min.js"></script>
<script src="~/Plugins/pdfmake/build/vfs_fonts.js"></script>

<!-- /Datatables js-->

<!-- Datatables -->
<script>
    $(document).ready(function () {
        var handleDataTableButtons = function () {
            if ($(".datatable-buttons").length) {
                $(".datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    buttons: [
                      {
                          extend: "copy",
                          className: "btn-sm"
                      },
                      {
                          extend: "csv",
                          className: "btn-sm"
                      },
                      {
                          extend: "excel",
                          className: "btn-sm"
                      },
                      {
                          extend: "pdfHtml5",
                          className: "btn-sm"
                      },
                      {
                          extend: "print",
                          className: "btn-sm"
                      }
                    ],
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        //$('#datatable-responsive').DataTable();
        if ($("#datatable-responsive").length) {
            $('#datatable-responsive').DataTable({

                dom: "lBfrtip",
                buttons: [
                  {
                      extend: "copy",
                      className: "btn-sm"
                  },
                  {
                      extend: "csv",
                      className: "btn-sm"
                  },
                  {
                      extend: "pdfHtml5",
                      className: "btn-sm"
                  },
                  {
                      extend: "print",
                      className: "btn-sm"
                  },
                ],
                responsive: true,
                keys: true,
                order: [[1, 'asc']],
                columnDefs: [
                  { orderable: false, targets: [0] }
                ]
            });
            $('#datatable-responsive').on('draw.dt', function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    
                });
            });
        }

        /*
        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
            'order': [[1, 'asc']],
            'columnDefs': [
              { orderable: false, targets: [0] }
            ]
        });
        $datatable.on('draw.dt', function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat-green'
            });
        });

        */
        TableManageButtons.init();


    });
</script>
<!-- /Datatables -->



